<a href="https://colab.research.google.com/github/Manomay15/Startup-Funding-Analysis/blob/main/StartupFunding_WebScrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
page = requests.get('https://trak.in/india-startup-funding-investment-2015/')

In [ ]:
soup = BeautifulSoup(page.content, 'html.parser')

In [ ]:
dates = list(soup.find_all('td', class_='column-2'))
names = list(soup.find_all('td', class_='column-3'))
industry = list(soup.find_all('td', class_='column-4'))
location = list(soup.find_all('td', class_='column-6'))
investor_name = list(soup.find_all('td', class_='column-7'))
investment_type = list(soup.find_all('td', class_='column-8'))
amount = list(soup.find_all('td', class_='column-9'))

In [ ]:
date = []
name = []
ind = []
loc = []
in_name = []
in_type = []
amt = []

for i in range(len(dates)):
  date.append(dates[i].text)
  name.append(names[i].text)
  ind.append(industry[i].text)
  loc.append(location[i].text)
  in_name.append(investor_name[i].text)
  in_type.append(investment_type[i].text)
  amt.append(amount[i].text)

In [ ]:
dic = {'Date': date,
       'Startup': name,
       'Industry': ind,
       'Location': loc,
       'Investor': in_name,
       'Type': in_type,
       'Amount': amt
       }

In [ ]:
import pandas as pd

In [ ]:
data = pd.DataFrame(dic)

In [ ]:
data.head()

         Date  Startup  ...      Type       Amount
0  01/04/2021   BYJU’S  ...  Series F  460,000,000
1  05/04/2021   Meesho  ...  Series E  300,000,000
2  14/04/2021   Swiggy  ...  Series J  343,000,000
3  07/04/2021    Groww  ...  Series D   83,000,000
4  14/04/2021  Beldara  ...   Venture    7,400,000

[5 rows x 7 columns]

In [ ]:
data.to_csv('/content/starup.csv')